@model PracticeChat.ViewModels.SearchList
@{
    ViewData["Title"] = "SearchList";
}

<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 col-xl-10 offset-xl-1" id="cols"
         style="box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 5px 6px 0 rgba(0,0,0,0.4);">
        <h1 class="text-center">Search List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sadar</td>                    
                    <td>                       
                      <a  class="btn btn-outline-primary">Add to friendlist</a>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>